/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
/* font: font-family: "Michroma", sans-serif; */

:root {
  --main-fuente: #892be2e8;
  --main-color: #f2b90c;
  --main-color2: #f77f00;
}

/* GENERAL */
* {
  padding: 1%;
  margin: 0;
  background-color: #111;
  font-family: "Michroma", sans-serif;
}

/* NAVBAR */
header {
  margin: 1px;
  padding: 1px;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
}
.navbar {
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconRef {
  height: auto;
  width: 18%;
  background-color: transparent;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li a {
  margin: 0px 25px;
  text-decoration: none;
  color: #9d9d9d;
  font-family: "Michroma", sans-serif;
  font-size: 1em;
}

/* primer seccion */
.presentacion {
  display: flex;
}

.foto img {
  width: 500px;
}

.perfil {
  padding: 1%;
}
.perfil p {
  color: rgba(137, 43, 226, 0.911);
  justify-content: center;
}

h1 {
  color: #f77f00;
  font-size: 2em;
}
h2 {
  color: #f77f00;
  font-size: 1.5em;
}
.contacto {
  display: flex;
  justify-content: space-around;
}
.contacto img {
  width: auto;
  height: 60px;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skills img {
  width: auto;
  height: 65px;
}

/* footer */

footer {
  font-size: medium;
  color: var(--main-color2);
  text-align: center;
}

/* responsive */
